.page.theme_light {
  --article-title-color: #353430;
  --header-title-color: #FFC2E6;
  --title-decor-bg-color: #FF8DCB;
  --title-decor-color: #353430;
  --shadow-color: #FF0070;
  --text-color: #353430;
  --border-hover-color: rgba(50, 49, 45, 0.4);
}

.theme_light.page {
  background-image: url(../images/cover-image-light.png);
}

.theme_light .rec::before {
  display: none;
}

.theme_light .rec::after {
  display: none;
}